@media screen and (max-width:768px) {
    .schoolImage{
        max-height: auto;
        width: 100px;
    }

    #Magendie, #Junia {
        flex-direction: column;
        align-items: center;
    }

    #siteCocktail {
        flex-direction: column-reverse;
    }

    #portfolio {
        flex-direction: column;
    }

    .projectImage {
        width: 70%;
    }

    .projectImage:hover {
        transform: scale(200%);
    }
}

@media screen and (max-width:426px) {

    #menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    #languagesIm {
        flex-direction: column;

    }

    #cs {
        margin-bottom: 40px;
    }

    #sql {
        transform: translateX(75px) translateY(15px);

    }

    #Magendie, #Junia {
        width: 100%;
    }

    .description {
        font-size: 15px;
    }
}

